* {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  height: fit-content;
}

.topbar {
  display: flex;
  gap: 30px;
  width: auto;
  height: 25px;
  background-color: black;
  padding: 15px 0 8px 20px;
}

.topbar a {
  color: white;
}

.searchbar {
  padding-left: 77%;
}

.head {
  text-align: center;
  padding: 100px 0;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.head p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.bold {
  background-color: black;
  color: white;
  padding: 2px;
}

.jane {
  background-image: url("/assets/images/jane.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 240px;
  gap: 30px;
}

h2 {
  color: aliceblue;
  font-size: 50px;
}

.jane p {
  color: white;
  font-size: 40px;
}

.butt a .buttt {
  width: 180px;
  height: 50px;
  background-color: #d2d2d2d8;
}

.butt a .buttt:hover {
  background-color: #dedbdb;
}

.information {
  background-color: silver;
  display: flex;
  padding: 20px;
  gap: 50px;
}

.info {
  padding: 20px 30px;
  background-color: white;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
}

.line {
  text-align: center;
}

.info img {
  width: 60vw;
}

.info p {
  padding: 8px;
}

.color-silver {
  color: gray;
}

.sideinfo {
  background-image: url("/assets/images/fashion2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  background-color: black;
  width: 100vw;
}

.sideinfo .side {
  padding: 210px 0 0 10px;
  color: white;
  margin-bottom: 50px;
}

.butons {
  display: flex;
  gap: 60%;
  /* padding: 70px 0; */
}

.but1 {
  width: 100px;
  height: 50px;
  background-color: white;
  display: flex;
  gap: 12px;
  padding: 16px 0 0 20px;
  font-size: 17px;
}

.but2 {
  width: 140px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 15px;
}

.but2 .one {
  background-color: white;
  padding: 4px 8px;
  color: black;
}

.but1:hover {
  background-color: silver;
}

.but2:hover {
  background-color: silver;
  color: black;
}

.disection {
  border-bottom: 1px solid silver;
  padding: 50px 0;
  margin: 20px;
}

.jon {
  padding: 40px 20px;
  display: flex;
}

.jon img {
  width: 100px;
}

.jon .balance {
  display: grid;
  padding: 20px 0 0 50px;
}

.jon .balance .date {
  color: #9f9e9e;
}

.headd {
  padding: 20px 30px;
  background-color: white;
  margin-bottom: 30px;
}

.headd img {
  width: 60vw;
}

.headd p {
  padding: 8px;
  text-align: center;
}

.headd .left {
  text-align: left;
}

.runway {
  padding: 20px 30px;
  background-color: white;
  margin-bottom: 30px;
}

.runway img {
  width: 60vw;
}

.runway p {
  padding: 8px;
  text-align: center;
}

.runway .left {
  text-align: left;
}

.popular {
  background-color: black;
  color: white;
  margin-top: 90px;
}

.post {
  height: 60px;
  padding-left: 12px;
}

h4 {
  text-align: left;
  padding-top: 20px;
}

.denim {
  display: flex;
  padding: 20px 0 30px 20px;
  align-items: center;
  background-color: white;
  color: black;
  border-bottom: 1px solid silver;
  gap: 20px;
}

.popular img {
  width: 50px;
  display: flex;
}

.arrangements {
  display: grid;
  gap: 5px;
}

.denim:hover {
  background-color: silver;
}

.advert {
  background-color: white;
  height: 40vh;
  margin-top: 25px;
  font-size: 20px;
}

.advert .postad {
  background-color: black;
  color: white;
  height: 50px;
  padding-left: 12px;
}

.advert p {
  text-align: center;
  padding-top: 20px;
  margin: 20px;
  background-color: #ecececdb;
  height: 65px;
}

.tag {
  height: 34vh;
  background-color: white;
  margin-top: 20px;
}

.tag h4 {
  font-size: 20px;
}

.postadd {
  height: 10vh;
  background-color: black;
  color: white;
  padding-left: 12px;
  font-size: 20px;
}

.tag .postadd {
  height: 10vh;
  background-color: black;
  color: white;
  padding-left: 12px;
}

.tag .postadd .blogs {
  padding-top: 50px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  padding-left: 10px;
  font-size: 13px;
}

.black-color {
  background-color: black;
  color: white;
  padding: 4px 6px;
}

.gray-color {
  background-color: #ecececdb;
  padding: 4px 6px;
}

.inspi {
  margin-top: 20px;
  background-color: white;
  height: 46vh;
}

.inspired {
  padding-top: 16px;
}

.inspired img {
  width: 12vw;
  padding: 6px 6px 0 12px;
}

.socialize {
  margin-top: 40px;
  height: 20vh;
  background-color: white;
}

.socials {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.socials a {
  color: black;
  size: 90px;
}

.ref {
  margin-top: 20px;
  height: 40vh;
  background-color: white;
  display: grid;
  font-size: 20px;
}

.ref p {
  padding-left: 8px;
  font-size: 17px;
}

#email {
  width: 24vw;
  height: 6vh;
  padding-left: 10px;
}

.mail {
  padding-left: 15px;
}

.subs {
  width: 25vw;
  height: 7vh;
  background-color: red;
  color: white;
  font-size: 16px;
}

.ref a {
  padding-left: 15px;
}

.ref .subs:hover {
  background-color: #ecececdb;
  color: black;
}

#foot {
  padding: 40px 0 0 30px;
}

.faffa {
  width: 12vw;
  height: 7vh;
  display: flex;
  gap: 14px;
  padding: 15px 0 0 27px;
  font-size: 15px;
  background-color: black;
  color: white;
}

.faffa:hover {
  background-color: silver;
  color: black;
}

.footer {
  background-color: gray;
}

.footer button {
  text-decoration: none;
  te
}

.w3 {
  padding: 15px 0 15px ;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.w3 a {
  color: white;
}

@media screen and (max-width: 600px) {
.maininfo {
  overflow: none;
}

  .topbar {
    display: none;
  }

  .head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 60px 0;
  }

  h1 {
    font-size: 30px;
  }

  .jane {
    background-image: url("/assets/images/jane.jpg");
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 20px;
  }

  h2 {
    display: none;
  }

  .jane p {
    font-size: 30px;
  }


  .butt a .buttt {
    width: 140px;
    height: 40px;
}
  .information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    margin: 20px;
    background-color: silver;
  }

  .info img {
    width: 100%;
    justify-content: center;
  }

  .butons {
    display: flex;
    flex-wrap: wrap;
    gap: 40%;
    padding: 20;
    overflow: none;
  }

  .but2 {
    width: 140px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    padding: 13px;
    overflow: none;
  }

  .disection {
    padding: 20px 0;
  }
  
  .jon {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }
  
  .jon img {
    width: 100px;
  }

  .jon .balance {
    padding: 20px 0;
  }

  .headd img {
    width: 100%;
  }

  .runway img {
    width: 100%;
  }

  .sideinfo {
    background-size: contain;
    background-repeat: no-repeat;
    height: fit-content;
    width: 98%;
  }

  .sideinfo .side {
    padding: 270px 0 0 10px;
    margin-bottom: 20px;
  }

  .inspired img {
    width: 40%;
    padding: 6px 6px 0 25px;
    display: wrap;
  }
  .inspi {
  margin-top: 20px;
  background-color: white;
  height: 75%;
}

  .postadd {
    height: 6vh;
    background-color: black;
   
  }

  .advert {
    background-color: white;
    height: 33vh;

  }
  
  .advert .postad {
    color: white;
    height: 7vh;
  }
  
  .advert p {
    text-align: center;
    padding-top: 125px;
    margin: 30px;
    background-color: white;
    height: 10vh;
  }

  .tag {
    height: 20vh;
    background-color: white;
    margin-top: 10px;
  }

  .tag .postadd {
    height: 6vh;
    background-color: black;
    color: white;
    padding-left: 12px;
  }

  .socialize {
    margin-top: 40px;
    height: 10vh;
    background-color: white;
  }


  .ref {
    margin-top: 20px;
    height: 27vh;
    background-color: white;
    display: grid;
    font-size: 20px;
  }
  

  #email {
    width: 90%;
    height: 6vh;
    padding-left: 10px;
  }

  .subs {
    width: 93%;
    font-size: 16px;
  }

  .footer {
    
  }
  

}